Titanic Assignment todo one left this is sol my attempt is in pandas.ipynb
ComplexBoundaries.ipynb
/extracthere
/complete course notes
.ipynb_checkpoints
/Draw In Air
/Text Classification using naive bayes
/Covid Slot Availability
/Tkinterdesigner
/Cifar 10